@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import url('https://fonts.googleapis.com/css?family=Rubik:400');
/* Formating */

html, body, footer{
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  text-align: center;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.clearfix {
  clear: both;
}

a {
  text-decoration: none !important;
}
/* Nav */
header {
  background-color: white;
  width: 100%;
}

nav a {
  margin-top: 25px;
  padding: 0px 20px 0px 20px;
  float: right;
  text-decoration: none;
  color: #fff;
  -webkit-transition: margin 0.3s ease;
	-moz-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
  font-weight: 500;
}

nav a:hover {
  color: #fff;
  margin-top: 20px;
}

/* Body */
.alex {
  padding: 80px;
  background-color: #4A89AA;
  height: 550px;
  color: #E7DACB;
}

.avatar {
  width: 120px;
  border-radius: 50%;
  margin: 70px auto 30px auto ;
}
.alex h1 {
  font-size: 27px;
}
h1 > span {
  display: block;
  font-size: 15px !important;
  font-weight: 300;
  padding-top: 10px;
}


.social-media {
  margin-top: 20px
}

.social-media a {
  padding: 0 8px;
  color: #E7DACB;
}

.alex .social-media:hover a {
  color: #C4B9AD;
}

.alex .social-media a:hover {
  color: #E7DACB !important;
}
/* Footer Style */
.footer-upper {
  padding: 50px 0;
}

.footer-upper p {
  padding-bottom: 20px;
  margin-top: 5px;
}

.email-button{
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #21374B;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #21374B;
  padding: 20px 60px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
}

.email-button:hover {
  background-color: #444948;
  color: #fff;
  border: 2px solid #444948;
}
.footer-lower {
  background-color: #4A89AA;
  padding: 12px 0;
  color: #fff;
}

.footer-lower a {
  color: inherit;
}

.links a{
  display: block;
  text-decoration: none;
}

.copyright {
  font-size: 12px;
  margin-top: 25px;
}

footer nav a {
  float: none;
}

footer p {
  margin-bottom: 5px;
  font-size: 12px;
}

footer .contact a {
  padding-right: 30px;
  font-size: 14px !important;
}

footer .contact {
  margin-top: 30px;

}

footer .nav-o {
  margin-top: 25px;
}

footer .nav-o a {
  font-size: 14px !important;
}

@media (max-width: 576px) {
  ul.navbar-nav  a {
    padding: 0px 10px 0px 10px !important;
    font-size: 14px;
  }

  .sm-hidden {
    display: none !important;
  }
}

@media (max-width: 768px) {
  nav.navbar {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  ul.navbar-nav {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 810px) {
  .contact a {
    display: block !important;
    margin-bottom: 2px;
  }
}

@media (min-width: 768px) {
  ul.navbar-nav {
    margin-left: auto !important;
  }
}

.container-fluid, html, footer {
  overflow-x:hidden;
}

.card{
  width: 30rem !important
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 20px;
}

.card-img-top {
  height: 100%;
  overflow-y: hidden;
}
