@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import url('https://fonts.googleapis.com/css?family=Rubik:400');
/* Formating */

html{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

body { margin: 0; }

.contact {
  font-size: 15px;
  display: grid;
  margin: 5px auto;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-gap: 5px;
  grid-template-areas:
  "address"
  "phone"
  "email"
}

.alex {
  padding: 80px 0;
  background-color: #4A89AA;
  height: 550px;
  color: #E7DACB;
}

.experience {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 1em;
  grid-template-areas:
    "one"
    "two"
    "three"
}

.card {
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

nav a {
  margin-top: 25px;
  padding: 0px 20px 0px 20px;
  float: right;
  text-decoration: none;
  color: #fff;
  -webkit-transition: margin 0.3s ease;
	-moz-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
  font-weight: 500;
}

.avatar {
  width: 120px;
  border-radius: 50%;
  margin: 70px auto 30px auto;
}

.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.phone { grid-area: phone; }
.email { grid-area: email; }
.address { grid-area: address; text-align: center;}
.navigation {grid-area: navigation; }

.hide-xs {
  display: none !important;
}

@media (min-width: 576px) {
  .hide-xs {
    display: auto;
  }
}

@media (min-width: 768px) {
  .contact {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "address"
    "phone"
    "email"
  }

  .experience {
    grid-template-columns: repeat(2, 46%);
    grid-template-rows: auto auto;
    justify-content: center;
    grid-template-areas:
      "one three"
      "two three"
  }

  header nav {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .contact {
    margin: 12px auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    grid-template-areas:
    "address phone email"
  }
}

@media (min-width: 1200px) {
  .experience {
    grid-template-columns: repeat(2, 40%);
  }

  header nav {
    margin-right: 10%;
  }
}

.social-media a {
  padding: 0 8px;
  color: #E7DACB;
}

a { text-decoration: none !important; }
footer p { margin-bottom: 5px; }
nav a:hover { margin-top: 20px; }
.alex h1 { font-size: 27px; }
.footer-lower a{ color: #fff !important; }
.social-media { margin-top: 20px }

h1 > span {
  display: block;
  font-size: 15px !important;
  font-weight: 300;
  padding-top: 10px;
}



.alex .social-media:hover a {
  color: #C4B9AD;
}

.alex .social-media a:hover {
  color: #E7DACB !important;
}
/* Footer Style */
.footer-upper {
  padding: 50px 0;
}

.footer-upper p {
  padding-bottom: 20px;
  margin-top: 5px;
}

.email-button{
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #21374B;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #21374B;
  padding: 20px 60px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
}

.email-button:hover {
  background-color: #444948;
  color: #fff;
  border: 2px solid #444948;
}
.footer-lower {
  background-color: #4A89AA;
  padding: 12px 0;
  color: #fff;
}

.links a{
  display: block;
  text-decoration: none;
}

.copyright {
  font-size: 12px;
  margin-top: 25px;
}

footer nav a {
  float: none;
}

footer nav a {
  font-size: 14px !important;
  padding: 0 13px;
}
