// Font style
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import url('https://fonts.googleapis.com/css?family=Rubik:400');

$bg-alex: #4A89AA;
$font-color: #CECAC6;
$bg-footer: #E4E4E7;
$bg-experience: #fff;
$font-experience: #000;
$link-hover: #BE4248;
$dark-blue: #21374B;
$grey: #E4E4E7;

html {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

a[href^="http"]:empty::before {
  content: attr(href);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  span {
    display: block;
    font-size: 15px !important;
    font-weight: 300;
    padding-top: 10px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// Row and col class are copied from bootstrap
// .row {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//       flex-wrap: wrap;
//   margin-right: -15px;
// }
//
// .col {
//   -ms-flex-preferred-size: 0;
//       flex-basis: 0;
//   -ms-flex-positive: 1;
//       flex-grow: 1;
//   max-width: 100%;
// }

.header {
  margin-top: 0px;
}

.text-right {
  text-align: right;
}

.scrolled {
  padding-top: 5px;
  background-color: #fff !important;
  padding-bottom: 5px;
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
  z-index: 2;

  a {
    color: #21374B;
  }

  a:hover {
    color: #BE4248;
  }
}

#scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: $bg-alex;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  opacity: 0.7;
  transition: opacity 0.4s ease-out;

  i {
    margin: 7px 0 0 0 !important;
  }

  &:hover {
    opacity: 1;
    background-color: $link-hover;
  }
}

.hide {
  display:none;
}

nav {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: 100%;
  padding-top: 8px;
  transition: all .4s;

  a {
    text-decoration: none;
    color: #E4E4E7;
    font-weight: 400;
    font-size: 14px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }

  a:hover {
    opacity: 0.8;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    display: inline-block;
    padding: 0 13px;
  }
}

.alex {
  padding: 80px 0;
  background-color: $bg-alex;
  height: 500px;
  color: $font-color;

  .avatar {
    width: 180px;
    border-radius: 50%;
    margin: 70px auto 30px auto;
  }
}


.aboutme {
  width: inherit;
  background-color: $bg-footer;
  padding: 32px 0px;

  .content {
    padding: 0 24px;
  }

  p {
    margin-bottom: 20px;
  }
}

$job: 200px;

.experience {
  padding: 32px 0;
  background-color: $bg-experience;
  color: $font-experience;

  .filter {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: $bg-alex;
    width: ($job * 0.4);
    top: 0;
    transition: width 0.4s ease;
  }
}

.timeline {
  position: relative;
  text-align: center;
  margin-top: 50px;

  .navigation {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    ol {
      list-style-type: none;
      padding: 0;
    }

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;

      &:not(#count){
        cursor: pointer;
        width: 69px;
      }

      &:nth-child(2){
        width: 25px !important;
      }

      span {
        height: 2px;
        width: 0;
        background-color: #000;
        margin-top: 8px;
        transition: width 0.4s ease;
      }

      svg {
        height: 18px;
        width: 9px;
        transition: padding 0.5s ease;
      }
    }

    .next {
      span, svg {
        float: left;
      }

      &:hover{
        span {
          width: 30px;
        }
      }
    }

    .prev {
      span, svg {
        float: right;
      }

      &:hover{
        span {
          width: 30px;
        }
      }
    }
  }
  .events-wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    height: 50px;
  }

  .events{
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #E4E4E7;
    z-index: 1;

    ol {
      margin-top: -25px;
    }

    li {
      position: absolute;
      font-size: 13px;

      &:nth-child(2){
        left: $job;
      }

      &:nth-child(3){
        left: ($job * 2);
      }

      &:nth-child(4){
        left: ($job * 3);
      }

      a {
        color: $font-experience;

        &:after {
          content: "";
          position: absolute;
          height: 10px;
          width: 10px;
          background-color: #fff;
          border: 2px solid $grey;
          border-radius: 50%;
          left: 40%;
          top: 19px;
          transition: all 0.3s ease;
          z-index: 9999;
        }

        &:hover {
          color: $bg-alex !important;

          &:after {
            background-color: $bg-alex;
            border-color: $bg-alex;
          }
        }
      }
    }

    .active {
      color: $bg-alex;
      font-weight: 500;
      font-size: 14px;

      &:after {
        background-color: $bg-alex;
        border: 2px solid $bg-alex;
      }
    }

    .highlighted {
      &:after {
        background-color: #fff;
        border: 2px solid $bg-alex;
      }
    }
  }

  .tabs {
    padding-top: 20px;
    text-align: left;
    width: 80%;
    margin: auto;
    overflow: hidden;

    .item {
      transform: translateX(100%);
      display: none;
    }

    .active {
      transform: translateX(0) !important;
      display: block;
    }

    h1 {
      margin-bottom: 5px;
    }

    .content {
      margin: 18px 0;

    }
  }
}

footer {
  background-color: $bg-footer;
  color: #21374B;
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 50px 0 80px 0;

  a {
    color: #21374B;
    transition: color 0.2 ease;

    &:hover {
      color: $link-hover;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .contact > li {
    margin-bottom: 14px;
    list-style: none;

    p, span{
      cursor: pointer;
    }

    i {
      color: $font-color;
    }

    a {
      &:before {
        content: "";
        position: absolute;
        border: 1px solid transparent;
        height: 1rem;
        margin-left: -10px;
        transition: all 0.2s ease;
      }
    }

    a:hover {
      &:before {
        border: 1px solid $link-hover;
      }
    }
  }

  .social-media, h1, h2, h3  {
    margin-top: 40px;
  }
}



@media (min-width: 576px) {
  // .hide-xs {
  //   display: inline-block;
  // }

  .container {
    max-width: 540px;
  }

  .timeline {
    .events-wrapper{
      width: 70%;
    }

    .tabs {
      width: 70%;
    }
  }


}

@media (min-width: 768px) {
  nav {
    text-align: right;

    li {
      padding: 0 13px;
    }

    a {
      font-size: 16px;
    }
  }

  .container {
    max-width: 720px;
  }

  .aboutme {
    .content {
      width: 60%;
      margin: 0 auto;
    }
  }

  .timeline {
    .events-wrapper {
      width: 50%;
    }

    .tabs {
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
