// Font style
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import url('https://fonts.googleapis.com/css?family=Rubik:400');

$bg-alex: #4A89AA;
$font-color: #CECAC6;
$bg-footer: #E4E4E7;
$bg-experience: #fff;
$font-experience: #000;
$link-hover: #BE4248;
$dark-blue: #21374B;
$grey: #E4E4E7;
$job: 200px;

html {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

body {
  margin: 0;

  &.active {
    overflow: hidden;
  }
}

h1, h2, h3, h4 {
  font-weight: 400;
}

a[href^="http"]:empty::before {
  content: attr(href);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  span {
    display: block;
    font-size: 15px !important;
    font-weight: 300;
    padding-top: 10px;
  }
}

section {
  padding: 62px 0px
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-top: 0px;
}

.hide-xs {
  display: none;
  font-size: inherit !important;
}

.scrolled {
  padding-top: 5px;
  background-color: #fff !important;
  padding-bottom: 5px;
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
  z-index: 99;

  a {
    color: #21374B;
  }

  a:hover {
    color: #BE4248;
  }
}

#scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: $bg-alex;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  opacity: 0.7;
  transition: opacity 0.4s ease-out;
  z-index: 999;
  i {
    margin: 7px 0 0 0 !important;
  }

  &:hover {
    opacity: 1;
    background-color: $link-hover;
  }
}

.hide {
  display:none;
}

nav {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: 100%;
  padding-top: 8px;
  transition: all .4s;
  z-index: 999;

  a {
    text-decoration: none;
    color: #E4E4E7;
    font-weight: 400;
    font-size: 14px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }

  a:hover {
    opacity: 0.8;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 13px;
  }
}

.alex {
  padding: 80px 0;
  height: 500px;
  color: $font-color;

  .avatar {
    width: 180px;
    border-radius: 50%;
    margin: 70px auto 30px auto;
  }

  z-index: 9;
}

#particles-js {
  background-color: $bg-alex;
  background-image: url('');
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

#aboutme {
  width: inherit;
  background-color: $bg-footer;
  // padding: 62px 0px;

  .content {
    padding: 0 24px;
    margin: 0 auto;
  }

  p {
    margin-bottom: 20px;
  }
}


#experience {
  // padding: 62px 0;
  background-color: $bg-experience;
  color: $font-experience;

  .filter {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: $bg-alex;
    top: 0;
    z-index: -1;
    // transition: width 0.4s ease;
  }
}



.timeline {
  position: relative;
  margin-top: 50px;
  overflow: hidden;

  .navigation {
    padding: 0;
    margin: 0 auto;
    text-align: center;

    ol {
      list-style-type: none;
      padding: 0;
    }

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
      z-index: 9999;
      background-color: transparent;

      &:not(#count){
        cursor: pointer;
        width: 69px;
      }

      &:nth-child(2){
        width: 50px !important;
      }

      span {
        height: 2px;
        width: 0;
        background-color: #000;
        margin-top: 8px;
        transition: width 0.4s ease;
        z-index: -99;
      }

      svg {
        height: 18px;
        width: 9px;
        transition: padding 0.5s ease;
        z-index: -99;
      }
    }

    .next {
      span, svg {
        float: left;
      }

      &:hover{
        span {
          width: 30px;
        }
      }
    }

    .prev {
      span, svg {
        float: right;
      }

      &:hover{
        span {
          width: 30px;
        }
      }
    }
  }
  .events-wrapper {
    position: relative;
    height: 50px;
    margin: 0 5%;
  }

  .events {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #E4E4E7;
    z-index: 1;

    ol {
      margin-top: -25px;
    }

    li {
      position: absolute;
      font-size: 13px;
      left: 50%;
      transform: translateX(-50%);

      a {
        color: $font-experience;
        opacity: 0;
        z-index: -1;

        &:after {
          content: "";
          position: absolute;
          height: 10px;
          width: 10px;
          background-color: #fff;
          border: 2px solid $grey;
          border-radius: 50%;
          left: 40%;
          top: 19px;
          transition: all 0.3s ease;
          z-index: 9999;
        }

        &:hover {
          color: $bg-alex !important;

          &:after {
            background-color: $bg-alex;
            border-color: $bg-alex;
          }
        }
      }
    }

    .active {
      color: $bg-alex;
      font-weight: 500;
      font-size: 14px;
      opacity: 1;
      z-index: 999;

      &:after {
        background-color: $bg-alex;
        border: 2px solid $bg-alex;
      }
    }

    .highlighted {
      &:after {
        background-color: #fff;
        border: 2px solid $bg-alex;
      }
    }
  }

  .tabs {
    padding-top: 20px;
    text-align: left;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;

    .item {
      position: absolute;
      width: 100%;
      top: 70px;
      left: 0;
      right: 0;
      transform: translateX(-100%);
      z-index: 2;
      opacity: 0;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
      // animation-iteration-count: infinite;

      &.active {
        transform: translateX(0);
        position: relative;
        opacity: 1;
        z-index: 2;
        top: 0;
        width: 100%;
      }

      &.enter-right, &.exit-right {
        animation-name: enterRight;

      }

      &.enter-left, &.exit-left {
        animation-name: enterLeft;

      }

      &.exit-left, &.exit-right {
        animation-direction: reverse;
  		}
    }

    h1 {
      margin-bottom: 5px;
    }

    .content {
      margin: 18px 0;

      li {
        list-style: initial;
      }
    }
  }
}

#sample {
  background-color: #586473;
  color: #fff;
  position: relative;
  width: 100%;

  .projects {
    overflow-y: hidden;
    padding: 0;
    list-style-type: none;
    margin: auto;
    width: 90%;

    .list {
      display: block;
      vertical-align: top;
      padding: 8px 0 8px 0;

      img {
        transition: width 0.4s ease;
        width: 100%;
        cursor: default;
      }

      &:hover {
        img {
          box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
        }
      }

      // &.active {
      //   display: block;
      // }
    }
  }
}

.dimmable {

  &.active {
    position: fixed;
    overflow: hidden;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 9999;
    overflow: hidden;
  }
}

.modal {
  position:fixed;
  display: none;
  z-index: 10001;
  background: #FFFFFF;
  right: 5%;
  left: 5%;
  top: 5%;
  bottom: 5%;
  overflow: hidden;
  padding: 10px;
  overflow-y: scroll;
  // height: 200px;

  img {
    width: 100%;
    display: none;
    transition: all 0.4s ease-in-out;

    &.active {
      display: block;
    }
  }

  &.active {
    display: block;
  }
}

footer {
  background-color: $bg-footer;
  color: #21374B;
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 50px 0 80px 0;

  a {
    color: #21374B;
    transition: color 0.2 ease;

    &:hover {
      color: $link-hover;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .contact > li {
    margin-bottom: 14px;
    list-style: none;

    p, span{
      cursor: pointer;
    }

    i {
      color: $font-color;
    }

    a {
      &:before {
        content: "";
        position: absolute;
        border: 1px solid transparent;
        height: 1rem;
        margin-left: -10px;
        transition: all 0.2s ease;
      }
    }

    a:hover {
      &:before {
        border: 1px solid $link-hover;
      }
    }
  }

  .social-media, h1, h2, h3  {
    margin-top: 40px;
  }
}

@media (min-width: 576px) {

  .modal {
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    padding: 20px;
  }

  .hide-xs {
    display: inline;
  }

  .container {
    max-width: 540px;
  }

  #aboutme {
    .content {
      width: 80%;
    }
  }

  #sample {

    .projects {
      height: 400px;
      width: 80%;

      .list {
        display: inline-block;
        padding: 8px 12px;
        width: 28.5%;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .timeline {
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    .events-wrapper{
      width: 100%;
      margin: 0 auto;
    }

    .events {
      li {
        transform: translateX(0);

        &:first-child{
          left: 40px;
        }

        &:nth-child(2){
          left: ($job * 1);
        }

        &:nth-child(3){
          left: ($job * 1.8);
        }

        &:last-child{
          left: ($job * 2.6);
        }

        a {
          opacity: 1;
          z-index: 1;
        }
      }
    }

    .tabs {
      .item {
        min-height: 321px;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  #experience {
    .filter {
      width: 80px;
    }
  }
}

@media (min-width: 768px) {
  nav {
    text-align: right;

    li {
      padding: 0 13px;
    }

    a {
      font-size: 16px;
    }
  }

  .container {
    max-width: 720px;
  }

  .timeline {
    max-width: 650px;

    .tabs {
      .item {
        min-height: 286px;
      }
    }
  }
}

@media (min-width: 830px) {
  .timeline {
    max-width: 800px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .timeline {

    .events {
      li {

        &:first-child{
          left: 80px;
        }

        &:nth-child(2){
          left: ($job * 1.5);
        }

        &:nth-child(3){
          left: ($job * 2.5);
        }

        &:last-child{
          left: ($job * 3.5);
        }
      }
    }
  }

  #experience {
    .filter {
      width: 120px;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  #aboutme {
    .content {
      width: 950px;
    }
  }

  .timeline {
    width: 950px;
    max-width: 950px !important;

    .events {
      li {

        &:first-child{
          left: 120px;
        }

        &:nth-child(2){
          left: ($job * 1.7);
        }

        &:nth-child(3){
          left: ($job * 2.7);
        }

        &:last-child{
          left: ($job * 3.7);
        }
      }
    }
  }

  #sample {
    .works {
      width: 950px;
    }
  }

  #experience {
    .filter {
      width: 160px;
    }
  }
}

// @media(min-height: 900px){
//   .modal {
//     bottom: auto;
//   }
// }

@keyframes enterRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
